<section class="todo">
  @let controls = todoForm.controls;

  <div class="todo__toolbar">
    <form class="todo__header" [formGroup]="todoForm" #todoFormDirective="ngForm" (ngSubmit)="addTodo(todoFormDirective)">
      <ui-input [label]="'todo.fields.listTitle' | translate" [type]="uiInputType.Text" [control]="controls.name" />

      <ui-button class="todo__add-list" type="submit" [disabled]="todoForm.invalid" [pending]="isAddTodoPending()">
        {{ 'todo.actions.addList' | translate }}
      </ui-button>
    </form>

    <div class="todo__actions">
      <ui-button type="button" priority="secondary" routerLink="/history">
        {{ 'todo.actions.history' | translate }}
      </ui-button>

      <ui-button type="button" priority="primary" (click)="logout()">
        {{ 'todo.actions.logout' | translate }}
      </ui-button>
    </div>
  </div>

  @if (todos().length) {
    <div class="todo__grid">
      @for (todo of todos(); track todo.id) {
        <app-todo-list-card
          [todo]="todo"
          [isLoading]="loadingTodoId() === todo.id"
          (deleteTodo)="deleteTodo($event)"
          (addTask)="addTask($event)"
          (deleteTask)="deleteTask($event)"
          (toggleTaskCompleted)="toggleTaskCompleted($event)"
          (updateTask)="updateTask($event)"
        />
      }
    </div>
  } @else {
    <p class="todo__empty">{{ 'todo.empty' | translate }}</p>
  }
</section>
