@let controls = editForm.controls;

<div class="todo-task-item">
  <mat-checkbox class="todo-task-item__checkbox" [checked]="task().completed" [disabled]="isLoading()" (change)="onCompletedChange()" />

  <div class="todo-task-item__body">
    @if (isEditing()) {
      <form class="todo-task-item__edit-form" [formGroup]="editForm" (ngSubmit)="saveEdit()">
        <ui-input label="Task Description" [type]="uiInputType.Text" [control]="controls.name" />

        <div class="todo-task-item__actions todo-task-item__actions-save">
          <ui-button type="submit" appearance="filled" [disabled]="editForm.invalid"> Save </ui-button>

          <ui-button type="button" appearance="outlined" (click)="cancelEdit()"> Cancel </ui-button>
        </div>
      </form>
    } @else {
      <span class="todo-task-item__name" [class.todo-task-item__name--completed]="task().completed">
        {{ task().name }}
      </span>

      <div class="todo-task-item__actions">
        <ui-button type="button" appearance="tonal" [disabled]="isLoading()" (click)="startEdit()"> Edit </ui-button>

        <ui-button type="button" appearance="text" [disabled]="isLoading()" (click)="onDeleteTask()"> Delete </ui-button>
      </div>
    }
  </div>
</div>
