.todo-task-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--ui-spacing-sm);
  min-height: var(--ui-card-height-sm);
  padding: var(--ui-spacing-sm) 0;

  &__summary {
    display: flex;
    align-items: center;
    gap: var(--ui-spacing-sm);
    min-width: 0;
  }

  &__checkbox {
    flex: 0 0 auto;
  }

  &__name {
    min-width: 0;
    flex: 1;
    overflow: hidden;
    color: var(--ui-color-primary);
    font-size: var(--ui-font-size-md);
    text-overflow: ellipsis;
    white-space: nowrap;

    &--completed {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }

  &__edit-form {
    width: 100%;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--ui-spacing-sm);
    width: 100%;
  }
}
