@let controls = registrationForm.controls;

<form class="registration" [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
  <h1 class="registration__title">
    {{ 'login.registration.title' | translate }}
  </h1>

  <ui-input
    [label]="'login.fields.login' | translate"
    [type]="uiInputType.Text"
    [control]="controls.username"
    [errorMessages]="validationMessages()"
  />

  <ui-input
    [label]="'login.fields.password' | translate"
    [type]="uiInputType.Password"
    [control]="controls.password"
    [errorMessages]="validationMessages()"
  />

  <div class="registration__password-check">
    <ui-input
      [label]="'login.fields.repeatPassword' | translate"
      [type]="uiInputType.Password"
      [control]="controls.repeatPassword"
      [errorMessages]="validationMessages()"
    />

    @if (registrationForm.hasError('passwordMismatch') && controls.repeatPassword.touched) {
      <p class="registration__error">
        {{ validationMessages().passwordMismatch }}
      </p>
    }
  </div>

  <ui-button type="submit" [loading]="isRegistrationPending()" [disabled]="registrationForm.invalid">
    {{ 'login.registration.submit' | translate }}
  </ui-button>
</form>
