@let controls = registrationForm.controls;

<form class="registration" [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
  <h1 class="registration__title">Registration</h1>

  <ui-input label="Login" [type]="uiInputType.Text" [control]="controls.username" />

  <ui-input label="Password" [type]="uiInputType.Password" [control]="controls.password" />

  <div class="registration__password-check">
    <ui-input label="Repeat Password" [type]="uiInputType.Password" [control]="controls.repeatPassword" />

    @if (registrationForm.hasError('passwordMismatch') && controls.repeatPassword.touched) {
      <p class="registration__error">Passwords do not match</p>
    }
  </div>

  <ui-button type="submit">Register</ui-button>
</form>
