<div class="history-table">
  <mat-form-field class="history-table__filter">
    <mat-label>{{ 'history.eventTypes' | translate }}</mat-label>

    <mat-select [(ngModel)]="selectedEventTypes" multiple [disabled]="isLoading()" (selectionChange)="applyEventTypeFilter()">
      @for (eventOption of eventOptions; track eventOption.value) {
        <mat-option [value]="eventOption.value">
          {{ eventOption.translationKey | translate }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="history-table__content" #tableContent [class.history-table__content--loading]="isLoading()">
    <table
      mat-table
      [dataSource]="events()"
      matSort
      matSortDisableClear
      matSortActive="createdAt"
      [matSortDirection]="query().sort"
      (matSortChange)="onSortChange($event)"
    >
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>{{ 'history.columns.number' | translate }}</th>
        <td mat-cell *matCellDef="let event; let rowIndex = index">
          {{ getRowIndex(rowIndex) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef>{{ 'history.columns.eventName' | translate }}</th>
        <td mat-cell *matCellDef="let event">
          {{ getEventTranslationKey(event) | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isLoading()">
          {{ 'history.columns.dateTime' | translate }}
        </th>
        <td mat-cell *matCellDef="let event">
          {{ event.createdAt | date: 'MM/dd/yyyy HH:mm:ss' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="additionalInfo">
        <th mat-header-cell *matHeaderCellDef>{{ 'history.columns.additionalInfo' | translate }}</th>
        <td mat-cell *matCellDef="let event">{{ event.additionalInfo }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          {{ 'history.empty' | translate }}
        </td>
      </tr>
    </table>

    @if (isLoading()) {
      <div class="history-table__loader">
        <ui-spinner size="small" />
      </div>
    }
  </div>

  <mat-paginator
    [length]="totalItems()"
    [pageSize]="query().limit"
    [pageIndex]="query().page - 1"
    hidePageSize
    showFirstLastButtons
    [disabled]="isLoading()"
    (page)="onPageChange($event)"
  />
</div>
