@let controls = resetPasswordForm.controls;

<form class="reset-password" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
  <h1 class="reset-password__title">
    {{ 'login.resetPassword.title' | translate }}
  </h1>

  <ui-input
    [label]="'login.fields.login' | translate"
    [type]="uiInputType.Text"
    [control]="controls.username"
    [errorMessages]="validationMessages()"
  />

  <ui-input
    [label]="'login.fields.newPassword' | translate"
    [type]="uiInputType.Password"
    [control]="controls.newPassword"
    [errorMessages]="validationMessages()"
  />

  <div class="reset-password__password-check">
    <ui-input
      [label]="'login.fields.repeatPassword' | translate"
      [type]="uiInputType.Password"
      [control]="controls.repeatPassword"
      [errorMessages]="validationMessages()"
    />

    @if (resetPasswordForm.hasError('passwordMismatch') && controls.repeatPassword.touched) {
      <p class="reset-password__error">
        {{ validationMessages().passwordMismatch }}
      </p>
    }
  </div>

  <ui-button type="submit" [loading]="isResetPasswordPending()" [disabled]="resetPasswordForm.invalid">
    {{ 'login.resetPassword.submit' | translate }}
  </ui-button>
</form>
