@let controls = resetPasswordForm.controls;

<form class="reset-password" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
  <h1 class="reset-password__title">Password Recovery</h1>

  <ui-input label="Login" [type]="uiInputType.Text" [control]="controls.username" />

  <ui-input
    label="New Password"
    [type]="uiInputType.Password"
    [control]="controls.newPassword"
    [errorMessages]="passwordErrorMessages"
  />

  <div class="reset-password__password-check">
    <ui-input label="Repeat Password" [type]="uiInputType.Password" [control]="controls.repeatPassword" />

    @if (resetPasswordForm.hasError('passwordMismatch') && controls.repeatPassword.touched) {
      <p class="reset-password__error">Passwords do not match</p>
    }
  </div>

  <ui-button type="submit" [loading]="isResetPasswordPending()" [disabled]="resetPasswordForm.invalid">Reset</ui-button>
</form>
