@let controls = resetPasswordForm.controls;

<form class="reset-password" [formGroup]="resetPasswordForm" aria-labelledby="reset-password-title" (ngSubmit)="submitResetPassword()">
  <h1 id="reset-password-title" class="reset-password__title">
    {{ 'login.resetPassword.title' | translate }}
  </h1>

  <ui-input
    [label]="'login.fields.login' | translate"
    [type]="uiInputType.Text"
    [autocomplete]="uiInputAutocomplete.Email"
    [control]="controls.username"
    [errorMessages]="validationMessages()"
  />

  <ui-input
    [label]="'login.fields.newPassword' | translate"
    [type]="uiInputType.Password"
    [autocomplete]="uiInputAutocomplete.NewPassword"
    [control]="controls.newPassword"
    [errorMessages]="validationMessages()"
    [showPasswordLabel]="'login.accessibility.showPassword' | translate"
    [hidePasswordLabel]="'login.accessibility.hidePassword' | translate"
  />

  <div class="reset-password__password-check">
    <ui-input
      [label]="'login.fields.repeatPassword' | translate"
      [type]="uiInputType.Password"
      [autocomplete]="uiInputAutocomplete.NewPassword"
      [control]="controls.repeatPassword"
      [errorMessages]="validationMessages()"
      [showPasswordLabel]="'login.accessibility.showPassword' | translate"
      [hidePasswordLabel]="'login.accessibility.hidePassword' | translate"
    />

    @if (resetPasswordForm.hasError('passwordMismatch') && controls.repeatPassword.touched) {
      <p class="reset-password__error" aria-live="polite">
        {{ validationMessages().passwordMismatch }}
      </p>
    }
  </div>

  <ui-button type="submit" [loading]="isResetPasswordPending()" [disabled]="resetPasswordForm.invalid">
    {{ 'login.resetPassword.submit' | translate }}
  </ui-button>
</form>
