.todo-list-card {
  position: relative;
  min-height: var(--ui-card-height-md);
  padding: var(--ui-spacing-md);
  overflow: hidden;
  background: var(--ui-color-white);

  &--loading {
    pointer-events: none;
  }

  &__loader {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ui-color-blur);
  }

  &__header {
    margin-bottom: var(--ui-spacing-md);
  }

  &__title {
    font-size: var(--ui-font-size-lg);
    color: var(--ui-color-primary);
  }

  &__content {
    margin-bottom: var(--ui-spacing-md);
  }

  &__actions {
    display: flex;
    padding: 0;
    align-self: center;
  }

  &__tasks {
    margin-top: var(--ui-spacing-md);
    padding: var(--ui-radius-md);
    border-radius: var(--ui-radius-md);
    box-shadow: var(--ui-shadow-md);

    app-todo-task-item {
      display: block;
    }

    app-todo-task-item:not(:last-child) {
      border-bottom: var(--ui-border-width-sm) solid var(--ui-text-color-secondary);
    }
  }
}
