@let controls = taskForm.controls;

<mat-card class="todo-list-card">
  <mat-card-header class="todo-list-card__header">
    <mat-card-title class="todo-list-card__title">{{ todo().name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="todo-list-card__content">
    <form class="todo-list-card__task-form" [formGroup]="taskForm" (ngSubmit)="onAddTask()">
      <ui-input label="Task Description" [type]="uiInputType.Text" [control]="controls.name" />

      <ui-button type="submit" [disabled]="taskForm.invalid" appearance="tonal">Add Task</ui-button>
    </form>
  </mat-card-content>

  <mat-card-actions class="todo-list-card__actions">
    <ui-button priority="secondary" type="button" (click)="onDeleteTodo()">Delete List</ui-button>
  </mat-card-actions>
  @if (todo().tasks.length) {
    <div class="todo-list-card__tasks">
      @for (task of todo().tasks; track task.id) {
        <app-todo-task-item
          [task]="task"
          (deleteTask)="onDeleteTask($event)"
          (completedChange)="onToggleTaskCompleted($event)"
          (updateTask)="onUpdateTask($event)"
        />
      }
    </div>
  }
</mat-card>
