@let controls = signInForm.controls;

<form class="sign-in" [formGroup]="signInForm" aria-labelledby="sign-in-title" (ngSubmit)="submitSignIn()">
  <h1 id="sign-in-title" class="sign-in__title">
    {{ 'login.signIn.title' | translate }}
  </h1>

  <ui-input
    [label]="'login.fields.login' | translate"
    [type]="uiInputType.Text"
    [autocomplete]="uiInputAutocomplete.Email"
    [control]="controls.username"
    [errorMessages]="validationMessages()"
  />

  <ui-input
    [label]="'login.fields.password' | translate"
    [type]="uiInputType.Password"
    [autocomplete]="uiInputAutocomplete.CurrentPassword"
    [control]="controls.password"
    [errorMessages]="validationMessages()"
    [showPasswordLabel]="'login.accessibility.showPassword' | translate"
    [hidePasswordLabel]="'login.accessibility.hidePassword' | translate"
  />

  <ui-button type="submit" [loading]="isSignInPending()" [disabled]="signInForm.invalid">
    {{ 'login.signIn.submit' | translate }}
  </ui-button>

  <a class="sign-in__link" routerLink="/auth/reset-password">
    {{ 'login.signIn.resetPassword' | translate }}
  </a>
</form>
